@import url("assets\css\clash-display.css");

:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 1);
    --box-shadow-b: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}
h1,h2,h3,h4,h5,h6
.h1, .h2, .h3,.h4, .h5, .h6{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}
a:hover{
    color: var(--c-brand-light);
}
img{
    max-width: 100%;
    height: auto !important ;
}
.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}
.theme-shadow{
    box-shadow: var(--box-shadow-b);
}

.image-zoom{
    position: relative;
    overflow: hidden;
}
.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}
.image-zoom-wrapper img{
    transition: var(--transition);
}
.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
}
.navbar{
    .navbar {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
        z-index: 3;
    }
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}
.navbar-nav .nav-link.active{
    color: var(--c-brand);
}
.btn{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 12px 24px;
}
a.btn-primary:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: black;
}
/* style.css */

.navbar {
    box-shadow: var(--box-shadow); 
}
#hero{
    background: linear-gradient(rgba(var(--c-brand-rgb),0.507),rgba(0,0,0,0.438)),url(/assets/images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}
.section-title{
    margin-bottom: 60px;
}
.section-title .line{
    width: 60px;
    height: 3px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
    
}
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background:rgba(var(--c-brand-rgb),0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
    }
    .service:hover::after{
        width: 100%;
        height: 100%;
        background: var(--c-brand);
        z-index: -1;
    }
    #number{
        background: linear-gradient(rgba(var(--c-brand-rgb),0.8),rgba(0,0,0,0.8)),url(/assets/images/bureau.jpg);
        background-position: center;
        background-size: cover;

    }
    .project-item .iconbox{
        background-color: var(--c-brand);
        color: white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    .project-item:hover .iconbox{
        opacity: 1;
        top: 50%;
    }
    .team-member-content{
        background-color: var(--c-brand);
        position: absolute;
        bottom: 24px;
        left: 50%;
        width: calc(100% - 50px);
        transform: translate(-50%);
        padding: 24px;
        transition: var(--transition);
        opacity: 0;
    }
    .team-member:hover .team-member-content{
        opacity: 1;
        bottom: 24px;
    }
    .logo{
        width: 10%;
    }
